.profile-section-divider{
  color:$primary-100-color;
  &::before {
    content:"";
    position: absolute;
    border-bottom:0.125rem solid $primary-100-color; /*use this to adjust underlin color and size*/
    width:100%;  /*use this to adjust underline width*/
    height:1.1em; /*use this to adjust underline position*/
  }

  @include font-type('h5');
}

.application-component{
  min-height: 9.375rem;
}

.applyNowLink {
  a {
    @include font-type('body 2');
  }
  margin-left: 1rem;
  align-self: flex-end;
}
