.greenBackground {
  background-color: $secondary-50-color;
  padding: 0.5rem 0.75rem;
  margin: 0.75rem 0 1.5rem 0;

  @include bp-up('md') {
    padding: 1rem 1.5rem;
  }
}

$base-padding: 1rem;

.detailTileWrapper > div {
  padding: $base-padding ($base-padding * 2) $base-padding 0 !important;
  
  @include bp('xs') {
    padding: $base-padding 0 !important;
  }
}

.utilityTile {
  padding: ($base-padding * 2) 0 $base-padding 0 !important;
}

.amenitiesWrapper {
  padding: $base-padding ($base-padding * 2) 0 0 !important;
  
  @include bp('xs') {
    padding: $base-padding 0 !important;
  }
}

.amenity {
  padding-right: $base-padding;
  padding-left: 0;
  
  @include bp('xs') {
    padding: $base-padding 0;
  }
}

.amenities {
  display: flex;

  div {
    flex-basis: 0;
    padding-right: 0.5rem;
    display: inline-flex;
    white-space: nowrap;
    align-items: center;
  }
}

.detailFormat {
  white-space: pre-line;
}

.ColWrapper {
  margin-top: 1.25rem;
  padding-left: 1rem !important;

  @include bp-down('md') {
    margin-top: 0;
    padding-left: 0 !important;
  }
}