// Variables that will be used across the site should go here (try to use
// bootstrap's variables whenever possible).
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,500,80);

$primary-color: #e7936d;
$secondary-color: #4d5e3b;

$rounded-lg: 40px;
