// Variables that will be used across the site should go here (try to use
// bootstrap's variables whenever possible).
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,500,80);

$responsive-to-user-color: #e7936d; // i.e. buttons
$focused-color: #a6623f; // i.e. 'Your name'
$unfocused-color: #d3ab98; // i.e. 'min', 'to school'
$primary-color: $responsive-to-user-color;
$secondary-color: #4d5e3b;

$default-text-weight: 700;

// $text-tertiary-color

// focused color, unfocused color, user-responsive color, paragraph color
// primary-focused, primary-unfocused, primary-user-responsive, secondary

$rounded-lg: 40px;
