.wrapper {
  display: flex;
  padding: 0.5rem 1.5rem;
  background-color: $primary-50-color;
  width: 100%;
  word-break: break-word;
}

.textWrapper {
  padding: 0.5rem 0 0.5rem 0.5rem;
}

.landlordProfile {
  height: 2.5rem;
  width: 2.5rem;

  @include circular-shape;
}

.title {
  color: $primary-dark-color;
  margin-bottom: 0.75rem;
}

.contactInfo {
  margin-top: 0.5rem;
}
