
# Elastic Beanstalk Files
BackEnd/.elasticbeanstalk/*
BackEnd/!.elasticbeanstalk/*.cfg.yml
BackEnd/!.elasticbeanstalk/*.global.yml

# Caches
**/.DS_Store
**/__pycache__
FrontEnd/app/components/.DS_Store
