.root {
  $wizard-form-middle-height: 90%;

  .topBar {
    background-color: $primary-50-color;
    width: 100%;
    height: (100% - $wizard-form-middle-height) / 2;
    display: flex;
    justify-content: space-between;
    border-radius: $lg-border-radius $lg-border-radius 0 0;
    align-items: center;
  }

  .title {
    @include font-type('h4');
    color: $primary-dark-color;
    font-weight: $regular-font-weight; // TODO make a font type for this
  }

  .middle {
    width: 100%;
    height: $wizard-form-middle-height;
  }

  .bottomBar {
    width: 100%;
    height: (100% - $wizard-form-middle-height) / 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .modalDialog {
    @include bp-up('md') {
      max-width: 90%;
      max-width: 700px;
    }
  }

  .modalContent {
    padding: 0;
    border: 0;
    border-radius: $lg-border-radius;
  }
}
