// Variables that will be used across the site should go here (try to use
// bootstrap's variables whenever possible).
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,500,80);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic,700italic,400,700);

/**
 * STYLE GUIDE COLORS.
 */
// Primary colors: primary light, primary dark, primary input, and you can use
// primary-#-color (where # is 1-6, 1 = lightest, 6 = darkest).
$primary-light-color: #e7936d;
$primary-dark-color: #a6623f;
$primary-input-color: #e17847;
$primary-1-color: #fffaf8;
$primary-2-color: #fdf4f0;
$primary-3-color: #f8e6d8;
$primary-4-color: #e7cbb6;
$primary-5-color: #d5b09a;
$primary-6-color: $primary-dark-color;

// Secondary colors: secondary light, secondary dark, and you can
// use secondary-#-color (where # is 1-3, 1 = lightest, 3 = darkest).
$secondary-light-color: #a5bf84;
$secondary-dark-color: #4d5e3b;
$secondary-1-color: #e6f0d8;
$secondary-2-color: #a5bf84;
$secondary-3-color: $secondary-dark-color;

// Other colors.
$tertiary-color: #f3d990;
$error-color: #e16161;

/**
 * STYLE GUIDE TYPOGRAPHY.
 */
// Font stack
$primary-font-stack: 'Montserrat', 'Courier New', Courier, monospace;
$secondary-font-stack: 'Roboto Slab', 'Courier New', Courier, monospace;

// Font Weights
$bold-font-weight: 700;
$regular-font-weight: 400;

// Font sizes
$xl-font-size: 30px;
$lg-font-size: 24px;
$md-font-size: 18px;
$sm-font-size: 16px;
$xs-font-size: 12px;

/**
 * STYLE GUIDE OTHER VARS.
 */
// TODO
$lg-border-radius: 22px;
$sm-border-radius: 10px;
$input-border-radius: 8px;

// TODO
$lg-modal-height: 600px;

/**
 * There are 5 main colors: 3 orange variations, two green. The three orange variations seem to have 3 purposes:
 * 1) a color to represent user-responsive (user can affect it) 2) a 'background/unfocused' color 3) a 'focused'
 * color. The two green variations seem to have similar purposes, a 'focused' and 'unfocused/background' color
 * (these will just be secondary-color and secondary-light-color since there are only 2).
 */
// TODO fix up the color naming scheme (like my god bruh this shit sucks lmao)
$responsive-to-user-color: #e7936d; // i.e. buttons
$focused-color: #a6623f; // i.e. 'Your name'
$unfocused-color: #d3ab98; // i.e. 'min', 'to school'
$primary-color: $responsive-to-user-color;
$primary-color-light: #fdf4f0;
$secondary-color: #4d5e3b;
$secondary-light-color: #e6f0d8;
$main-background-color: #fffcfb;
$darker-background-color: #f8e6d8;

$rounded-lg: 40px;

$default-border-width: 3px;

/**
 * WEBSITE DESIGN VARIABLES.
 */
$navbar-height: 12.5%;
