$padding-between-icon-and-label: 0.25rem;

.card {
  background-color: white;
  border-radius: $input-border-radius;
  overflow: hidden;
  box-shadow: 0 0.4rem 0.6rem 0 rgba(black, .14); //elevation 06dp
}

.container {
  max-width: 100%;
  margin: 0;
}

.pic {
  overflow: hidden;
  padding: 0;

  @include bp-down('sm') {
    height: 16.875rem;
  }
  
}

.divider {
  color: rgba(77, 94, 59, 0.2);
  font-weight: bold;
}

.textPortion {
  margin-left: 0.5rem;
  font-family: Montserrat;
}

.secondCol {
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.day {
  margin: 0.3rem 0 1.5rem 0;
  color:#AAAAAA;
  font-size: 0.8rem;
}

.price {
  margin-bottom: 1.5rem;
  color: #A64919;

  b {
    font-size: 1.6rem;
  }
}

.distance {
  margin-bottom: 0.5rem;
  @include font-type('body 1');

  > svg {
    margin-right: $padding-between-icon-and-label;
  }
}

.address {
  margin-bottom: 1.8rem;
  display: flex;
  font-size: 0.85rem;
  gap: 0.4rem;
  overflow: hidden;
  align-items: center;

  .locationIcon {
    align-items: center;
    margin-right: $padding-between-icon-and-label;
  }

  .addressText {
    text-overflow: ellipsis;
    // the below styles are necessary for text-overflow: ellipsis to work
    display: block;
    white-space: nowrap;
    overflow: hidden;
  }
}

.oom {
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
  color: #797979;
}

.date {
  font-size: 0.9rem;
  color: #797979;
  margin-bottom: 0.25rem;
}
