.materialUIModal {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  display: block;
  outline: 0;
  background-color: #fff;
  max-height: 90vh;
  border-radius: $sm-border-radius;
  overflow-y: auto;
  padding: 1rem;
}

.modalGraphic {
  display: flex;
  justify-content: center;
}

.text {
  text-align: center;
}

.title {
  margin: 1.5rem 0 0.5rem;
}

.caption {
  margin-bottom: 2rem;
}

// TODO need to add appropriate breakpoints for different screen sizes
.md {
  width: 450px;

  @include bp-down('sm') {
    width: 90%;
  }
}

.lg {
  width: 90vw;
}
