.root {
  .toggle {
    @include font-type('body 1');
    color: $primary-light-color;
    margin: 15px 10px;
    margin-bottom: 0;
    border: 0.0625rem $primary-300-color solid;
    border-radius: $sm-border-radius;
    word-break: keep-all;
    box-shadow: none;
  }

  .vertical {
    width: 9.375rem;
    height: 4.5625rem;
  }

  .label {
    align-self: center;
    @include text-overflow-ellipsis;
  }

  .unselected {
    background-color: white;
    &:hover {
      background-color: $primary-50-color;
      color: $primary-200-color;
    }
    @include svg-fill($primary-200-color);
  }

  .selected {
    &,
    &:hover {
      border-color: $primary-light-color;
      background-color: $primary-light-color;
      color: white;
    }
    @include svg-fill(white);
  }

  .readOnly {
    border-color: $primary-50-color;
    color: $disabled-low-emphasis-color !important;
    background-color: $primary-50-color;
    @include svg-fill($disabled-low-emphasis-color);
  }
}
