.root {
  .toggle {
    @include font-type('body 1');
    color: $primary-light-color;
    margin: 15px 10px;
    margin-bottom: 0;
    border: 3px $primary-200-color solid;
    border-radius: $sm-border-radius;
    word-break: keep-all;

    &:hover, &:focus {
      @include box-shadow($primary-light-color);
    }
  }

  .unselected {
    &, &:hover, &:focus {
      border-color: $primary-200-color;
      background-color: white;
      color: $primary-200-color;
    }

    svg {
      fill: $primary-200-color;
      stroke: none;
    }
  }

  .selected {
    &, &:hover, &:focus {
      border-color: $primary-light-color;
      background-color: $primary-light-color;
      color: white;
    }

    svg {
      fill: white;
      stroke: none;
    }
  }
}
