  .title{
    margin-top: 13rem;
    margin-bottom: 13rem;
  }

  .intro{
    margin-top: 10rem;
    margin-bottom: 10rem;
    justify-content: center;
  }
  
  .caption {
    color: $primary-light-color;
    font-size: 1.5rem;
    font-weight: bold;
    justify-content: center;
    margin: 1.25rem;
  }
  
  .text {
    color: rgb(46, 46, 46);
    font-size: 1.25rem;
    margin-top: 3.2rem;
    font-weight: 400;
    justify-content: center;
    text-align: center;
  }
  
  .textLg {
    color: rgb(46, 46, 46);
    font-size: 2.125rem;
    justify-content: center;
  }

  .subtext {
    color: $primary-dark-color;
    font-size: 1.25rem;
    justify-content: center;
    margin-bottom: 3.2rem;
    margin-top: 0.25rem;
    text-align: center;
  }

  .subtextIntro {
    color: rgb(46, 46, 46);
    font-size: 1.25rem;
    justify-content: center;
    margin-bottom: 2rem;
    margin-top: 1rem;
    @include bp-up('lg') {
      max-width: 25rem;
    }
  }
  
  .textSm {
    color: rgb(46, 46, 46);
    font-size: 1rem;
  }
  
  .smallImg {
    height: 8.5rem;
  }
  
  .buttonInner {
    margin: inherit;
  }

  .buttonLink {
    text-decoration: none;
    &:hover {
      
    }
  }
  
  .smallRow {
    justify-content: center;
    margin-bottom: 0.5rem;
  }
  
  .bigRow, .center{
    display: flex;
    justify-content: center;
  }

  .iconRow{
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  .introCol{
    margin: 2rem;
  }

  .housingicon{
    display: flex;
  }

  .textIntro, .subtextIntro{
    @include bp-down('md') {
      text-align: center;
      margin-left: 0;
      margin-right: 0;
    }
  }

  .logoText{
    font-size: 3rem;
    color: $primary-light-color;
    font-weight: $bold-font-weight;
    margin-left: 1rem;
  }

  .logo{
    height: 4.125rem;
    width: 4.125rem;
  }

  .dot {
    height: 0.5rem;
    width: 0.5rem;
    background-color: $primary-200-color;
    margin-left: 0.4rem;
    margin-right: 0.4rem;
    margin-bottom: 0.3rem;
    border-radius: 50%;
    display: inline-block;
  }

  .container{
    max-width: 100%;
  }