// Setup the theme here (use variables whenever possible so they can be reused)
// in other files.

body {
  color: theme-color('secondary');
  font-family: Montserrat;
}

.no-show {
  border: 0;
  background-color: rgba(255, 255, 255, 0) !important;
  padding: 0 !important;
  margin: 0 !important;
}

.disappear-on-xs {
  @extend .d-none;
  @extend .d-sm-flex;
}

.disappear-on-sm {
  @extend .d-none;
  @extend .d-md-flex;
}

.ex {
  @extend .no-show;
  display: flex;
}

.roboto-slab-font,
.secondary-title-font {
  font-family: $roboto-slab-font, 'Courier New', Courier, monospace;
}

.secondary-title {
  @extend .secondary-title-font;
  color: $focused-color;
  font-weight: $default-text-weight;
  font-size: 20px;
}

.single-line-input {
  font-weight: $default-text-weight;
  color: theme-color('primary');
  border: 0;
  border-bottom: 3px solid theme-color('primary');
  border-radius: 0;
  box-shadow: none;
  outline: none;

  :focus,
  :active,
  &.was-validated,
  &.form-control:valid,
  &.form-control.is-valid {
    color: theme-color('primary');
    border: 0;
    border-bottom: 3px solid theme-color('primary');
    border-radius: 0;
    box-shadow: none;
  }
}

.secondary-border-thin {
  border: 5px solid $secondary-light-color;
}

.hover-shadow {
  &:hover {
    box-shadow: 2px 4px 8px 0px #a4613e 30% !important;
  }
}

/**
 * STYLE GUIDE BUTTONS
 */

// btn = primary btn
// TODO
// .btn,
// .primary-btn {
//   @extend .hover-shadow;
//   @include mousedown {
//     background-color: $primary-dark-color;
//   }

//   font-weight: $bold-font-weight;
//   font-size: $xl-font-size;
//   background-color: $primary-light-color;
//   color: white;
//   box-shadow: none;
// TODO add padding too

//   &:hover {
//     box-shadow: 2px 4px 8px 0px #a4613e 30%;
//     background-color: $primary-light-color;
//   }
// }

// .secondary-btn {
// }

// .tertiary-btn {
// }

// .toggle-btn {
// }
