// Setup the theme here (use variables whenever possible so they can be reused)
// in other files.

body {
  color: theme-color('secondary');
  font-family: Montserrat;
}

.no-show {
  border: 0;
  background-color: rgba(255, 255, 255, 0) !important;
  padding: 0 !important;
  margin: 0 !important;
}

.disappear-on-xs {
  @extend .d-none;
  @extend .d-sm-flex;
}

.disappear-on-sm {
  @extend .d-none;
  @extend .d-md-flex;
}

.ex {
  @extend .no-show;
  display: flex;
}

.roboto-slab-font,
.secondary-title-font {
  font-family: $roboto-slab-font, 'Courier New', Courier, monospace;
}

.secondary-title {
  @extend .secondary-title-font;
  color: $focused-color;
  font-weight: $default-text-weight;
  font-size: 20px;
}

.single-line-input {
  font-weight: $default-text-weight;
  color: theme-color('primary');
  border: 0;
  border-bottom: 3px solid theme-color('primary');
  border-radius: 0;
  box-shadow: none;
  outline: none;

  :focus,
  :active,
  &.was-validated,
  &.form-control:valid,
  &.form-control.is-valid {
    color: theme-color('primary');
    border: 0;
    border-bottom: 3px solid theme-color('primary');
    border-radius: 0;
    box-shadow: none;
  }
}

.secondary-border-thin {
  border: 5px solid $secondary-light-color;
}

/**
 * STYLE GUIDE BUTTONS
 */

// btn = primary btn
.btn,
// .primary-btn,
.btn-primary {
  @extend .rounded-pill;
  @include mousedown {
    background-color: $primary-dark-color !important;
    box-shadow: none !important;
  }

  @extend .py-1;
  @extend .px-4;
  @extend .mx-4;
  @extend .my-2;
  font-weight: $bold-font-weight;
  font-size: $xl-font-size;
  background-color: $primary-light-color;
  color: white;
  box-shadow: none;
  border: 0;

  &:hover {
    @include box-shadow($primary-dark-color);
    background-color: $primary-light-color;
  }

  &:focus {
    box-shadow: none;
    background-color: $primary-light-color;
  }
}

.btn-secondary {
  @extend .btn-primary;
  font-size: $m-font-size;
}

.btn-tertiary {
  @extend .btn-secondary;
  @extend .px-5;
}

// TODO test this
.toggle-btn {
  &-inactive,
  &-active {
    border-radius: $sm-border-radius;
    font-weight: $bold-font-weight;
  }

  // not selected
  &-inactive {
    border: 3px $primary-dark-color;
    color: $primary-dark-color;
    background-color: white;
  }

  // selected
  &-active {
    border: 3px $primary-light-color;
    color: white;
    background-color: $primary-light-color;
  }
}

// .tag-btn = selected .toggle-btn (i.e. .toggle-btn-active)
.tag-btn {
  @extend .toggle-btn-active;
}
