.ellipse-button {
  width: 54px;
  height: 54px;
  padding: 9.2px 21.1px 8.2px 20.1px;
  background-color: #e7936d;
}

.landing-title {
  color: $primary-dark-color;
  font-size: $xl-font-size;
  justify-content: center;
}

.landing-subtitle {
  color: $primary-dark-color;
  font-size: $lg-font-size;
  margin: auto 0 auto 50px;
}

.landing-caption {
  color: $primary-dark-color;
  font-size: 26px;
  font-weight: bold;
}

.landing-text {
  color: $primary-dark-color;
  font-size: $sm-font-size;
  width: 325px;
}
.landing-text-small {
  color: $primary-dark-color;
  font-size: 14px;
}

.landing-small-img{
  height: 100px;
}

.landing-button-inner {
  margin: inherit;
}
