.wrapperDefault {
  display: flex;
  flex-wrap: wrap;
}

.default {
  display: flex;
  align-items: center;
  justify-content: center;
}

.vertical {
  flex-direction: column;
  text-align: center;
}
