.alertContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  position: relative;
}

.icon {
  position: absolute;
  top: 0.75rem;
}

.button {
  position: absolute;
  right: 1rem;
}

.content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0rem 0.75rem;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

.title {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 120%;
  letter-spacing: 0.015rem;
}

.text {
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.03rem;
  color: #202020;
}

.button:hover {
  cursor: pointer;
}

.success {
  background: #eff4e9;
  color: #325123;
  .button {
    @include svg-fill(#94b36c);
  }
}

.alert {
  background: #f9dfdf;
  color: #e16161;
  .button {
    @include svg-fill(#e16161);
  }
}

.warning {
  background: #fffaea;
  color: #202020;
  .button {
    @include svg-fill(#f3d990);
  }
}

.info {
  background: #e2e6fa;
  color: #6d83e7;
  .button {
    @include svg-fill(#6d83e7);
  }
}
