.bookmark {
  @include font-type('secondary-text');
  @include thin-border('sm');
  background-color: white;
  width: 100%;
  border-radius: $sm-border-radius;
  display: flex;

  img {
    display: block;
    border-radius: $sm-border-radius;
    width: 50px;
    height: 100%;
    // width: 100%;
    align-self: center;
  }

  &-info {
    @extend .p-2;
  }
}
