// TODO change the widths/heights to not use exact values. need to allow them to be reactive
.bookmarks-list {
  @include thin-border('sm', $primary-3-color);

  background-color: $primary-2-color;
  border-radius: 22px;
  width: 220px;
  height: 470px;
  text-align: center;
  overflow-y: auto;

  &-title {
    @extend .py-2;
    @include font-type('secondary-title');
  }
}
