// TODO clean this up by combining a lot of things

.dropdown-unfilled {
  @include font-type('primary-input-text');
  border: 2px solid $primary-3-color;
  border-radius: $input-border-radius;
  box-shadow: none !important; // TODO set the flag in bootstrap instead of doing this

  &:focus {
    @include font-type('primary-input-text');
    border-color: $primary-light-color;
  }

  &:valid, &.is-valid {
    border-color: $primary-3-color;
    &:focus {
      border-color: $primary-light-color;
    }
  }
}

.dropdown-invalid {
  border: 3px solid $error-color !important;
  color: $error-color!important;
}

.dropdown-filled {
  @extend .dropdown-unfilled;
  border-color: $primary-light-color;

  &:valid, &.is-valid {
    border-color: $primary-light-color;
    &:focus {
      border-color: $primary-light-color;
    }
  }
}

.dropdown-readonly {
  @extend .dropdown-filled;
  background-color: $primary-2-color !important;
}

.dropdown-label {
  @include font-type('label-text');
}

.dropdown-error {
  @include font-type('error-label-text');
}

.dropdown-required-asterisk {
  @include font-type('primary-input-text');
}

.dropdown-straighten-right {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.dropdown-drop-btn {
  @extend .btn;

  border-radius: 0 $input-border-radius $input-border-radius 0;
  box-shadow: none !important;
  display: flex;

  &-unfilled {
    @extend .dropdown-drop-btn;
    background-color: $primary-3-color;
  }

  &-filled {
    @extend .dropdown-drop-btn;
    background-color: $primary-light-color;
  }

  &-invalid {
    @extend .dropdown-drop-btn;
    background-color: $error-color;
  }

  &-arrow {
    align-self: center;
    height: 4px;
    width: 0px;
    border: 8.5px transparent solid;
    border-bottom: 0;
    border-top: 12.5px white solid;
    border-radius: 10%;
  }
}

.dropdown-toggle {
  input, .form-control:disabled, .form-control[readonly] {
    cursor: pointer;
    background-color: white;
  }

  &::after { // the default dropdown button
    content: none;
    width: 0;
    padding: 0;
    margin: 0;
  }
}

.homehub-dropdown {
  .dropdown-menu {
    max-height: 200px;
    overflow-y: auto;
    background-color: $primary-1-color;

    .dropdown-item {
      background-color: $primary-1-color;
      color: $primary-dark-color;
    }
  }
}