input {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 3px solid #e7936d;
  line-height: 10px;
}

.small-input {
  width: 50px;
}

.med-input {
  width: 100px;
}

.word {
  color: #d3ab98;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
}

.title {
  @extend .mb-3;
  text-align: center;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 57px;
  width: 229px;
  height: 57px;
  color: #a6623f;
  background-image: url('../../icons/misc/wordBubble.svg');
}

.right-button {
  margin-left: 0rem !important;
}

.menu {
  height: 130px;
  overflow: scroll;
}

.clear-border {
  padding-left: 0rem;
  border: 0;
}

.form-dropdown {
  margin-right: 0rem !important;
  margin-top: 0rem !important;
}

.w-10rem {
  width: 10rem;
}

.form-input {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 3px solid #e7936d;
  line-height: 10px;
}

.btn-filter {
  margin: 0rem !important;
  padding: 0 !important;
  background-color: #fff !important;
  border-color: #fff !important;
}

.separator {
  width: 50%;
  border: 0;
  border-top: 3px dashed #d3ab98;
}

.main-filter {
  border-width: 50px;
  border-style: solid;
  border-image: url('../../icons/filter/filter.svg') 30 round;
}

.main-filter-button {
  top: 20%;
  position: absolute;
  width: 70%;
  height: 60%;
  border-radius: 50px;
  font-size: calc(50% + 0.5vw + 1vh);
}
