.filterform-word {
  @include font-type('label-text');
  font-size: 20px;
}

.filterform-title-bg {
  background-image: url('../../icons/misc/wordBubble.svg');
  background-size: cover;
}

.filterform-short-input {
  width: 140px !important;
  // font-size: 25px !important;
}

.filterform-short-dropdown {
  width: 140px !important;
  // div {
  //   font-size: 25px;
  // }
  // .dropdown-filled {
  //   font-size: 25px;
  // }
}
