.small-input {
  width: 50px;
}

.med-input {
  width: 100px;
}

.word {
  color: theme-color('unfocused');
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
}

.title {
  @extend .mb-3;
  text-align: center;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 57px;
  width: 229px;
  height: 57px;
  color: theme-color('focused');
  background-image: url('../../icons/misc/wordBubble.svg');
}

.right-button {
  margin-left: 0rem !important;
}

.menu {
  height: 130px;
  overflow: scroll;
}

.clear-border {
  padding-left: 0rem;
  border: 0;
}

.form-dropdown {
  margin-right: 0rem !important;
  margin-top: 0rem !important;
}

.w-10rem {
  width: 10rem;
}

.btn-filter {
  margin: 0rem !important;
  padding: 0 !important;
  background-color: white !important;
  border-color: white !important;
}

.separator {
  width: 50%;
  border: 0;
  border-top: 3px dashed theme-color('unfocused');
}

.main-filter {
  border-width: 50px;
  border-style: solid;
  border-image: url('../../icons/filter/filter.svg') 30 round;
}

.filter-launch-pad {
  @extend .mx-4;
  @extend .mb-5;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-width: 50px;
  border-style: solid;
  border-image: url('../../icons/filter/filter.svg') 30 round;
}

.filter-launch-button {
  @extend .m-0;
  @extend .p-lg-5;
  @extend .p-sm-3;
  @extend .rounded-pill;
  min-width: 25%;
  font-size: add(1vh, 2vw);
}
