$side-bar-top: $navbar-height;
.home-sidebar {
  $padding-y: 20px;

  position: fixed;
  //top: $side-bar-top;
  //padding-top: $padding-y;
  padding-bottom: $padding-y;
  right: 10px;
  height: 100% - $navbar-height;
}

.home-bookmarks-list-wrapper {
  height: 100%;
  overflow-y: hidden;
}
