.housing-profile-house-type {
  @extend .px-3;
  @extend .py-2;
  @extend .rounded;
  @include font-type('title');
  background-color: theme-color('secondary-light');
}

.housing-profile-price {
  @extend .h2;
  @include font-type('price-related-large');
}

.house-profile-top-half {
  @extend .px-2;
  @extend .pl-lg-1;
  height: 50%;
  display: contents;
}

.housing-profile-bio {
  @extend .px-3;
  @extend .py-2;
  @extend .mt-2;
  background-color: theme-color('secondary-light');
  display: flex;
  flex-direction: column;
  flex: 100%;
  width: auto;
  border-radius: ($rounded-lg / 2) 0 $rounded-lg 0;

  @include mobile-and-smaller {
    border-radius: ($rounded-lg / 2) ($rounded-lg / 2) $rounded-lg $rounded-lg;
  }

  @include lg-and-larger {
    height: $lg-modal-height/2;
  }
}

.housing-profile-speech-bubble {
  @include font-type('secondary-text');
  $padding: map-get($spacers, 3);
  $margin-top: map-get($spacers, 4);
  padding: $padding;
  margin-top: $margin-top;
  position: relative;
  border-radius: $rounded-lg;
  border-top-right-radius: 0;
  box-shadow: 3px 3px 4px -2px $gray-400;
  background-color: white;
  word-break: break-word;
  flex: 100%;
  overflow-y: auto;
}

.house-profile-preview-slideshow {
  margin: 0;
  overflow: hidden;
  border-radius: $rounded-lg 0 0 $rounded-lg;
  @include md-and-smaller {
    border-radius: $rounded-lg $rounded-lg 0 0;
  }
}

.house-profile-modal {
  .modal-content {
    @include thin-border('lg');
    padding: 0;
  }

  & .house-profile-above-modal {
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.house-profile-container {
  @include lg-and-larger {
    height: $lg-modal-height;
    overflow-y: auto;
    overflow-x: hidden;
  }
}

.house-profile-distance {
  font-style: normal;
  font-weight: normal;
  font-size: 16px; // todo: relative
  line-height: 20px; // ditto
  color: $primary-dark-color;
}

.house-profile-close {
  position: absolute;
  display: block;
  width: 41px;
  height: 41px;
  background-color: white;
  border-radius: 50%;
  z-index: 2;
  margin: 10px 0px 0px 10px !important;
  &:hover {
    margin: 10px 0px 0px 10px !important;
  }
}

.house-profile-map {
  @extend .pr-1;
  height: 30vh;

  @include lg-and-larger {
    height: $lg-modal-height/4;
  }
}

.house-profile-amenity-icon {
  & svg {
    fill: $secondary-color;
    stroke: none;
  }
}
