.house-card {
  @include thin-border('md');
  background-color: theme-color('secondary-light');
  border-radius: 25px; // TODO make variable
  overflow: hidden;
}

.house-pic {
  height: 200px;
}

.divider {
  color: rgba(77, 94, 59, 0.2);
  font-weight: bold;
}
