.housing-profile-house-type {
  @extend .px-3;
  @extend .py-2;
  @extend .rounded;
  @include font-type('title');
  background-color: theme-color('secondary-light');
}

.housing-profile-price {
  @extend .h2;
  @include font-type('price-related-large');
}

.house-profile-top-half {
  @extend .px-2;
  @extend .pl-lg-1;
  height: 50%;
  display: contents;
}

.housing-profile-bio {
  @extend .px-3;
  @extend .py-2;
  @extend .mt-2;
  background-color: theme-color('secondary-light');
  flex: 100%;
  width: auto;
  border-radius: ($rounded-lg / 2) 0 $rounded-lg 0;

  @include mobile-and-smaller {
    border-radius: ($rounded-lg / 2) ($rounded-lg / 2) $rounded-lg $rounded-lg;
  }
}

.housing-profile-speech-bubble {
  @include font-type('secondary-text');
  $padding: map-get($spacers, 3);
  $margin-top: map-get($spacers, 4);
  padding: $padding;
  margin-top: $margin-top;
  position: relative;
  border-radius: $rounded-lg;
  border-top-right-radius: 0;
  box-shadow: 3px 3px 4px -2px $gray-400;
  background-color: white;
  word-break: break-word;
}

.house-profile-preview-slideshow {
  margin: 0;
  overflow: hidden;
  border-radius: $rounded-lg 0 0 $rounded-lg;
  @include md-and-smaller {
    border-radius: $rounded-lg $rounded-lg 0 0;
  }
}

.house-profile-modal {
  .modal-content {
    @extend .secondary-border-thin;
    padding: 0;
  }
}
