// TODO clean this up by combining a lot of things

.input-unfilled {
  @include font-type('primary-input-text');
  border: 2px solid $primary-3-color;
  border-radius: $input-border-radius;
  box-shadow: none !important; // TODO set the flag in bootstrap instead of doing this
  background-color: white !important; // TODO

  &:focus {
    @include font-type('primary-input-text');
    border-color: $primary-light-color;
  }

  &:valid {
    border-color: $primary-3-color;
    &:focus {
      border-color: $primary-light-color;
    }
  }
}

.is-valid {
  border-color: $primary-light-color;
}

.input-invalid {
  border: 3px solid $error-color !important;
  color: $error-color !important;
}

.input-filled {
  @extend .input-unfilled;
  border-color: $primary-light-color;

  &:valid {
    border-color: $primary-light-color;
    &:focus {
      border-color: $primary-light-color;
    }
  }
}

.input-readonly {
  @extend .input-filled;
  background-color: $primary-2-color !important;
}

.input-label {
  @include font-type('label-text');
}

.input-error {
  @include font-type('error-label-text');
}