.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  opacity: 0;
  transition: 0.5s ease;
  background-color: black;
}

.tooltip > .tooltip-inner {
  @include font-type('tooltip');
  background-color: $primary-1-color;
  border-radius: 20px 0px 20px 20px;
  margin-right: 20px;
  width: 5000px !important;
}

.tooltip-inner {
  max-width: 25vw; // for laptop
  // TODO: max-width for mobile
}

.tooltip > .arrow {
  display: none;
}
