.sign-in {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  /* or 167% */
  display: flex;
  align-items: flex-end;
  letter-spacing: 0.2em;
  border: 0;
  outline: 0;
  color: theme-color('secondary-color');
  background-color: transparent;
}

.g-auth {
  box-shadow: none !important;
  margin: 0 auto;
}
