// .navbar-sign-in-button {
//   @extend .no-show;
//   font-family: Roboto Slab;
//   font-weight: $default-text-weight;
//   font-size: 18px;
//   letter-spacing: 0.2em;
//   color: theme-color('secondary') !important;
// }

.g-auth {
  box-shadow: none !important;
  margin: 0 auto;
}

.g-sign-in,
.g-sign-out {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  /* or 167% */
  display: flex;
  align-items: flex-end;
  letter-spacing: 0.2em;
  border: 0;
  outline: 0;
  color: $secondary-color !important;
  background-color: #fff !important;
}

.g-sign-in:hover,
.g-sign-out:hover {
  color: $secondary-light-color !important;
}

.g-auth {
  box-shadow: none !important;
  margin: 0 auto;
}
