.suggestion-item {
  background-color: $primary-1-color;
  color: $primary-dark-color;
  cursor: pointer;

  &:active,
  // &--active,
  &:hover,
  &:focus {
    background-color: $primary-2-color;
  }
}
