.post-input {
  margin-top: 10px;
  border-bottom: 0;
}

.post-text {
  background: $primary-color-light;
  // border-color:
  border-radius: 8px;
  // color: $primary-dark-color;
}

.post-word {
  width: 100%; // was 160px, TODO: use non-constant widths
  height: 23px;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: $primary-dark-color;
}

.post-word-sub {
  height: 24px;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #d3ab98;
}

.post-word-sub-selected {
  color: white;
}

.post-word-sub-bg {
  padding: 5px 9px 5px 9px;
  margin-right: 18px;
  border-radius: 10px;
}

.post-word-sub-bg-selected {
  background-color: #e7936d;
}

.post-title {
  text-align: center !important;
  display: block;
  width: 100%;
  height: 25px;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #a6623f;
}

.post-button {
  width: 20%;
  height: 100%;
  border-radius: 50px;
  font-size: calc(50% + 0.5vw + 1vh);
}

// @media (min-width: 992px) {
//   .post-modal .modal-content {
//     height: 725px;
//   }
// }
