// .post-input {
//   margin-top: 10px;
//   border-bottom: 0;
// }

.post-text {
  background: $primary-color-light;
  // border-color:
  border-radius: 8px;
  // color: $primary-dark-color;
}

.post-word {
  width: 100%; // was 160px, TODO: use non-constant widths
  height: 23px;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: $primary-dark-color;
}

.post-word-sub {
  height: 24px;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #d3ab98;
}

.post-word-sub-selected {
  color: white;
}

.post-word-sub-bg {
  padding: 5px 9px 5px 9px;
  margin-right: 18px;
  border-radius: 10px;
}

.post-word-sub-bg-selected {
  background-color: $primary-input-color;
}

.post-title {
  text-align: center !important;
  display: block;
  width: 100%;
  height: 25px;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #a6623f;
}

.post-button {
  width: 20%;
  height: 100%;
  border-radius: 50px;
  font-size: calc(50% + 0.5vw + 1vh);
}

// @media (min-width: 992px) {
//   .post-modal .modal-content {
//     height: 725px;
//   }
// }

.post-input,
.post-dropdown {
  height: 50px;
  font-size: 18px !important;
}

.post-input-label,
.post-dropdown-label {
  @include font-type('label-text');
  margin-bottom: 10px;
  font-size: 18px !important;
}

.required-asterisk {
  @include font-type('primary-input-text');
}

.house-post-error-label {
  @include font-type('error-label-text');
  text-align: center;
}

.house-post {
  &-amenities-toggle {
    width: 180px;
    height: 80px;
  }

  &-image-uploader {
    & .fileContainer {
      box-shadow: none;

      & .uploadPictureContainer {
        margin: 15px;
        padding: 1%;
        background-color: $primary-light-color;
        border: none;
        box-shadow: none;
      }

      & .deleteImage {
        font-size: 20px;
        padding: 5px;
        padding-top: 0;
        background-color: $primary-light-color;
        color: white;
      }
    }

    & &-btn {
      // TODO why does this not work without important?
      @extend .btn-primary;

      padding: 10px !important;
      padding-top: 0 !important;
      font-size: 40px !important;
      background-color: $primary-light-color !important;
      width: 60px;
      height: 60px;
    }
  }

  $house-post-preview-wrapper-height: 70px;
  &-preview-buttons {
    top: 0 - $house-post-preview-wrapper-height;

    &-wrapper {
      @include thin-border('md');
      height: $house-post-preview-wrapper-height;
      background-color: white;
      border-top-left-radius: $sm-border-radius;
      border-top-right-radius: $sm-border-radius;
    
      & .btn {
        @include m(2);
        font-size: $sm-font-size;
      }
    }
  }

  &-preview-modal {
    $content-margin-top: $house-post-preview-wrapper-height;
    & .modal-content {
      // margin-top: $content-margin-top;
    }

    & .modal-dialog {
      margin-top: $content-margin-top;
    }
  }
}
