// TODO: abstract common code from this and WizardForm to theme.scss
$profile-form-middle-height: 90%;
.profile-form-top-bar {
  @extend .px-3;
  @extend .py-2;

  //background-color: $primary-2-color;
  width: 100%;
  height: (100% - $wizard-form-middle-height) / 2;
  display: flex;
  border-radius: $lg-border-radius $lg-border-radius 0 0;
  justify-content: center;
  margin-top: 2vh;

  .title {
    @include font-type('secondary-title');
    font-weight: $regular-font-weight; // TODO make a font type for this
    color: $secondary-dark-color;
    .element {
      width: 100%;
      text-align: center;
      position: relative;
      top: -30px;
      color: $secondary-1-color;
      font-size: x-large;
    }
  }
  .title-divider {
    color: $secondary-1-color;
    font-size: x-large;
  }
}

.profile-cross {
  position: absolute;
  top: 26px;
  left: 42px;
}

.profile-selected {
  font-weight: bold !important;
}

.profile-selected-under {
  text-align: center;
}

.profile-form-middle {
  @extend .my-4;
  @extend .px-4;

  width: 100%;
  height: $profile-form-middle-height;
  @include media-breakpoint-up('md') {
    height: 600px;
  }
}

.profile-info {
  //height: 100%;
  align-items: center;
  justify-content: center;
}

.profile-name {
  text-align: center !important;
  display: block;
  width: 100%;
  height: 25px;
  font-family: Montserrat;
  font-size: $lg-font-size;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #a6623f;
}

.profile-verified {
  margin-top: 15px;
  text-align: center !important;
  color: $secondary-2-color;
  font-size: $sm-font-size;
  font-weight: bold;
}
.profile-word-sub {
  height: 24px;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #d3ab98;
}
.profile-text-price-related {
  @extend .subtitle-text;
  color: $primary-dark-color;
}

.profile-word-sub-selected {
  color: white;
}

.profile-word-sub-bg {
  padding: 5px 10px 0px 10px;
  margin-right: 8px;
  border-radius: 10px;
  text-align: center;
}

.profile-button {
  overflow: auto;
}

.profile-word-sub-bg-selected {
  background-color: $primary-input-color;
}

.profile-year-row {
  justify-content: space-between;
  .form-group {
    margin-bottom: 0 !important;
  }
}

.profile-form-label {
  width: 100%; // was 160px, TODO: use non-constant widths
  height: 23px;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: $primary-input-color;
}

.profile-form-bio {
  color: $primary-input-color;
}

.profile-sign-out {
  color: $secondary-dark-color;
  text-decoration: underline;
}

.profile-cancel {
  color: $primary-input-color;
  text-decoration: underline;
}

.profile-char-check {
  position: absolute;
  right: 15px;
  bottom: 0;
  color: $primary-dark-color;
}

.profile-bio-text {
  resize: none;
  height: 150px !important;
}
.profile-school-year {
  .form-group {
    width: 100%;
  }
}

.profile-wrap {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.profile-edit-wrap {
  height: 85px;
}

.profile-icon {
  border-style: solid;
  border-width: thin;
  border-color: $primary-light-color;
  width: 100px;
  height: 100px;
}

.profile-drop {
  background-color: $primary-light-color;
}

.profile-drop-content {
  overflow: auto;
  background-color: $primary-1-color;
  transform: translate3d(0, 48px, 0px) !important;
  max-height: 35vh;
}

.profile-posts-list {
  background-color: $primary-1-color;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.profile-no-posts-text {
  text-align: left;
  display: block;
  width: 100%;
  font-family: Montserrat;
  font-size: $lg-font-size;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: $secondary-dark-color;
}

.profile-mypost {
  background-color: white;
  border-radius: 15px;
  padding: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.profile-mypost-picture {
  width: 100px;
  height: 100px;
  border-radius: 13px;
}

.profile-mypost-info {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  width: 100%;
}

.profile-mypost-title {
  font-size: $xs-font-size;
  color: $secondary-dark-color;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  width: 100%;
  font-family: Montserrat;
}

.profile-mypost-details {
  font-size: $xs-font-size;
  color: black;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  width: 100%;
  font-family: Montserrat;
}

.profile-mypost-actions {
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.profile-mypost-edit {
  font-size: $md-font-size;
  color: $secondary-dark-color;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  text-decoration: underline;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  width: 100%;
  font-family: Montserrat;
}

.profile-form-modal-dialog {
  @include media-breakpoint-up('md') {
    max-width: 90%;
  }

  .modal-content {
    padding: 0;
    border: 0;
  }
}
