.homehub-toggle {
  @include font-type('primary-input-text');
  margin: 20px 10px;
  border: 3px $primary-5-color solid;
  border-radius: $sm-border-radius;
  word-break: keep-all; // TODO

  &:hover, &:focus {
    @include set-box-shadow($primary-input-color);
  }

  &-selected {
    &, &:hover, &:focus {
      @extend .homehub-toggle;
      border-color: $primary-input-color;
      background-color: $primary-input-color;
      color: white;
    }

    & svg {
      fill: white;
      stroke: none;
    }

    @include mousedown {
      @extend .homehub-toggle-unselected;
      @include set-box-shadow($primary-input-color);
    }
  }

  &-unselected {
    &, &:hover, &:focus {
      @extend .homehub-toggle;
      border-color: $primary-5-color;
      background-color: white;
      color: $primary-5-color;
    }

    & svg {
      fill: $primary-5-color;
      stroke: none;
    }

    @include mousedown {
      @extend .homehub-toggle-selected;
      @include set-box-shadow($primary-input-color);
    }
  }
}