.toggle-group {
  &-wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  &-center {
    justify-content: center;
  }

  &-label {
    @include font-type('label-text');
  }

  &-required-asterisk {
    @include font-type('primary-input-text');
  }

  &-error {
    @include font-type('error-label-text');
  }

  &-line-up-toggle:first-child {
    margin-left: 0;

    @include mousedown {
      margin-left: 0;
    }
  }
}