$tv-bottom-items-color: #d5b09a;

.tv-container {
  display: inline-block;
  border: none;
  background-color: $darker-background-color;
  padding: 12px;
  border-radius: 22px;
}

.tv-buttons-div {
  border: none;
  background-color: white;
  padding: 6px;
  border-radius: 17px 17px 10px 10px;
  text-align: center;

  div,
  span,
  button,
  .btn {
    @extend .mx-auto;
  }

  .btn:first-child {
    @extend .pt-2;
  }

  .btn:last-child {
    @extend .pb-2;
  }

  .btn {
    @extend .py-1;
  }
}

.tv-bottom-item {
  background-color: $tv-bottom-items-color;
  border: 0;
  height: 20px;
}

.tv-bottom-bar {
  @extend .tv-bottom-item;
  min-width: 70%;
  border-radius: 20px;
}

.tv-bottom-circle {
  @extend .tv-bottom-item;
  width: 20px;
  border-radius: 50%;
}

.tv-title {
  @extend .secondary-title;
}

.tv-separator {
  @extend .pb-2;
  width: 90%;
  border: 0;
  border-top: 3px solid $tv-bottom-items-color;
}
