$wizard-form-middle-height: 90%;
.wizard-form-top-bar {
  @extend .px-3;
  @extend .py-2;

  background-color: $primary-2-color;
  width: 100%;
  height: (100% - $wizard-form-middle-height) / 2;
  display: flex;
  justify-content: space-between;
  border-radius: $lg-border-radius $lg-border-radius 0 0;
  align-items: center;

  .title {
    @include font-type('secondary-title');
    font-weight: $regular-font-weight; // TODO make a font type for this
  }

  .reset {
    @include font-type('primary-text');
    font-weight: $regular-font-weight; // TODO make a font type for this
  }
}

.wizard-form-middle {
  @extend .my-4;
  @extend .px-4;

  width: 100%;
  height: $wizard-form-middle-height;
}

.wizard-form-bottom-bar {
  @extend .px-4;
  @extend .pb-4;
  @extend .pt-2;

  width: 100%;
  height: (100% - $wizard-form-middle-height) / 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wizard-form-modal-dialog {
  @include media-breakpoint-up('md') {
    max-width: 90%;
  }

  .modal-content {
    padding: 0;
    border: 0;
  }
}

.wizard-form-invalid-feedback {
  @extend .pt-1;
  color: #b62c3a;
  width: 100%;
  text-align: left;
  font-size: 80%;
}