@mixin valid-border-element-states {
  &:valid {
    border-color: $primary-light-color;
    &:focus {
      border-color: $primary-light-color;
    }
  }
}

.root {
  // used only for specificity to override bootstrap css

  // apply to direct child to make bootstrap form margin bottom 0
  & > div {
    margin-bottom: 0;
  }
  .unfilled {
    height: 3rem;
    padding-left: 2.75rem;
    @include font-type('body 1');
    border: 0.125rem solid $border-color;
    border-radius: $input-border-radius;
    box-shadow: none !important; // TODO set the flag in bootstrap instead of doing this
    background-color: white !important;
    &::placeholder {
      color: $disabled-low-emphasis-color;
    }
    &:focus {
      @include font-type('body 1');
      border-color: $primary-light-color;
      &,
      &::placeholder {
        color: $black-color;
      }
    }
  }

  .filled {
    @extend .unfilled;
    border-color: $primary-light-color;

    @include valid-border-element-states;
  }

  .isValid {
    border-color: $secondary-300-color !important;
    padding-right: 0;
    background-image: none !important; // used to override bootstrap-provided valid checkmark
  }
  .invalid {
    border: 3px solid $error-color !important;
    color: $error-color !important;
  }

  .readOnly {
    background-color: $primary-50-color !important;
  }

  .label {
    @include font-type('subtitle 1');

    color: $primary-dark-color;
  }

  .inlineText {
    @include font-type('subtitle 1');

    color: $primary-dark-color;
    margin-left: 15px;
    align-self: center;
  }

  .error {
    @include font-type('caption');

    color: $error-color;
  }
}

.inputRow {
  position: relative;
}
.inputIcon {
  position: absolute;
  left: 0.75rem;
  top: 0.75rem;
  width: 1.5rem;
  height: 1.5rem;
}

.inputStatus {
  position: absolute;
  right: 0.75rem;
  top: 0.75rem;
  width: 1.5rem;
  height: 1.5rem;
}
