.cardRow {
  margin-bottom: 3rem;

  > div {
    $padding: 1rem;

    &:nth-child(odd) {
      padding-right: $padding;
    }

    &:nth-child(even) {
      padding-left: $padding;
    }

    @include bp-down('md') {
      &:nth-child(odd) {
        padding-right: 0;
      }

      &:nth-child(even) {
        padding-left: 0;
      }
    }
  }
}